# Python cache
__pycache__/

# Database folders
chroma_db/
chroma_db_runs/

# Data folder
data/

# Virtual environment
venv/

# Environment variables
.env

# Google OAuth secrets
client_secret.json
token.pickle